/* BASIC STYLES */

body {
  margin: 0;
  padding: 0;
  font-family: 'Hind', sans-serif;
}

header {
  width: 100%;
}

ul {
  list-style: none;
}

/* NAV BAR */

#nav_bar {
  float: right;
}

#nav_bar li {
  display: inline-block;
  padding: 8px;
}

#nav_bar #sign_in {
  background: #4887ef; 
  margin-right: 25px;
  padding: 7px 15px;
  border-radius: 3px; 
  font-weight: bold;
}

.nav-links {
  color: #404040;
}

a {
  text-decoration: none;
  color: inherit;
}

li.nav-links a:hover {
  text-decoration: underline;
}

#sign_in:hover { 
  box-shadow: 1px 1px 5px #999;
}

#sign_in {
  color: #fff;
}

/* CONTENT : Logo Google France */

.content {
  display: block;
  margin: 0 auto;
  padding-top: 26%;
  font-size: 85px;
  text-align: center;
  z-index: 0;
  position: relative;
  word-spacing: -25px;
}

p {
  margin: 0;
  padding: 0;
}

.G{
  color: #0057e7;
  font-size: 97px;
}

.O1{
  color:#d62d20;
  transform: scale(1, 0.6);
}

.O2{
  color:#ffa700;
  transform: scale(1, 0.6);
}

.g{
   color: #0057e7;
   transform: scale(1, 0.6);
}

.l{
  color: #008744;
  font-size: 97px;
}

.e{
  color: 	#d62d20;
  display: inline-block;
  transform: rotate(-17deg);
}

/*  soustitre */

#soustitre {
  font-size: 15px;
  color: #0057e7;
  padding-left: 11px;
  padding-top: -43px;
  margin-left: 54%;
  margin-top: -52px;
  position: absolute;
  z-index: 1;
  
}

/* Searching */

.form {
  text-align: center;
  margin-top: 28px;
}

#form-search { 
  width: 450px;
  line-height: 32px;
  padding: 20px 10px;
}

.form #form-search {
  padding: 0 8px;
}
/* Buttons */

.buttons {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 300px;
}

/* FOOTER */
footer  {
  background: #f2f2f2;
  border-top: solid 2px #e4e4e4;
  
/*   position: fixed; */
  bottom: 0;
  padding-bottom: 0;
  width: 100%;
  
}

footer ul li {
  display: inline;
  color: #666666;
  font-size: 14px;
  padding: 13px;
}

footer ul {
  float: left;
  padding: 1px;
}

footer ul a:hover {
  text-decoration: underline;
}

.footer-right {
  float: right;
}
